<style>
body{
  background-color: powderblue;
}
h1{
  color: #E80F88;
}
h3{
  color: #E80F88;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;

}
</style>
